<form action="/restaurants/new" method="post">
    <div class="ms-1">
        <div>
            <p> id
                <input type="number" placeholder="" name="id" >
            </p>
        </div>
        <div>
            <p> 餐廳名稱
                <input type="text" placeholder="" name="name" >
            </p>
        </div>
        <div>
            <p> Restaurant
                <input type="text" placeholder="" name="name_en">
            </p>
        </div>
        <div>
            <p> 分類
                <input type="text" placeholder="" name="category">        
            </p>
        </div>
        <div>
            <p> 餐廳地圖
                <input type="text" placeholder="" name="image">
            </p>
        </div>
        <div>
            <P> 地址
                <input type="text" placeholder="" name="location">
            </P>
        </div>
        <div>
            <p> 聯絡電話
                <input type="text" placeholder="" name="phone" >
            </p>
        </div>
        <div>
            <p> 評分
                <input type="double" placeholder="" name="rating">
            </p>
        </div>
        <div>
            <p> 餐廳介紹
                <input type="text" placeholder="" name="description">
            </p>
        </div>
        <div>
            <p> google連結
                <input type="text" placeholder="" name="google_map" >
            </p>
        </div>
        <button type="submit">save</button>
    </div>
</form>
<a href="/restaurants/">back</a>