{{!-- <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Create a New Restaurant<i class="fas fa-key"></i></h5>
            <hr> 


        </div>    
        </div>
    </div>
</div> --}}

<form action="/restaurants/new" method="post">
    <div class="row mb-3 g-2">
        <label for="length" class="col-md-4 col-form-label">
            Password Length
        </label>
        <div class="col-md-8">
            <input type="number" name="length" class="form-control" id="length" min="4" max="16" value={{options.length}}>
            <small class="text-muted form-text">Length is available between 4 ~ 16</small>
        </div>
    </div>
    <div class="ms-1">
        <div>
            <p> id
                <input type="number" placeholder="" name="id" >
            </p>
        </div>
        <div>
            <p> 餐廳名稱
                <input type="text" placeholder="" name="name" >
            </p>
        </div>
        <div>
            <p> Restaurant
                <input type="text" placeholder="" name="name_en">
            </p>
        </div>
        <div>
            <p> 分類
                <input type="text" placeholder="" name="category">        
            </p>
        </div>
        <div>
            <p> 餐廳地圖
                <input type="text" placeholder="" name="image">
            </p>
        </div>
        <div>
            <P> 地址
                <input type="text" placeholder="" name="location">
            </P>
        </div>
        <div>
            <p> 聯絡電話
                <input type="text" placeholder="" name="phone" >
            </p>
        </div>
        <div>
            <p> 評分
                <input type="double" placeholder="" name="rating">
            </p>
        </div>
        <div>
            <p> 餐廳介紹
                <input type="text" placeholder="" name="description">
            </p>
        </div>
        <div>
            <p> google連結
                <input type="text" placeholder="" name="google_map" >
            </p>
        </div>
        <button type="submit">save</button>
    </div>
</form>
<a href="/restaurants/">back</a>