<div class="row">
    <div class="col-12 col-lg-10 col-xl-6 mx-auto mt-5">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title"><i class="fas fa-utensils"></i> Create a New Restaurant </h5>
            <hr> 
    
            <form action="/restaurants/new" method="post" novalidate>

                    {{!-- 加入亂數產生器作為id(js待引用) --}}
                <div class="row mb-1 g-2">
                    <label for="id" class="col-md-3 col-form-label"> ID 
                        <small class="text-muted"> *required </small>
                    </label>
                    <div class="col-md-8">
                        <div class="form-check form-check-inline">
                            <input type="number" name="id" id="id" min="1" {{#if info.id}} value={{info.id}}{{/if}} required></input>
                        </div>
                    </div>
                </div>
                <div class="row mb-1 g-2">
                    <label for="name" class="col-md-3 col-form-label"> 餐廳名稱 
                        <small class="text-muted"> *required </small>
                    </label>
                    <div class="col-md-8">
                        <div class="form-check form-check-inline">
                            <input type="" class="form-control" id="name" name="name" size="40" {{#if info.name}} value={{info.name}}{{/if}} required>
                        </div>
                    </div>
                </div>
                <div class="row mb-1 g-2">
                    <label for="name_en" class="col-md-3 col-form-label"> Restaurant </label>
                    <div class="col-md-8">
                        <div class="form-check form-check-inline">
                            <input type="text" class="form-control" id="name_en" name="name_en" size="40" {{#if info.name_en}} value={{info.name_en}}{{/if}}>
                            
                        </div>
                    </div>
                </div>
                <div class="row mb-1 g-2">
                    <label for="category" class="col-md-3 col-form-label"> <i class="fas fa-bookmark pr-1"></i> 餐廳類別
                        <small class="text-muted"> *required </small>
                    </label>
                    <div class="col-md-8">
                        <div class="form-check form-check-inline">
                            <input  list="dish_type" class="form-control" id="category" name="category" size="category" required>
                            <datalist id="dish_type">
                                <option>美式</option>
                                <option>日本料理</option>
                                <option value="中東料理">中東料理</option>
                                <option value="咖啡">咖啡</option>
                            </datalist>
                        </div>
                    </div>
                </div>
                <div class="row mb-1 g-2">
                    <label for="phone" class="col-md-3 col-form-label"> <i class="fas fa-mobile-alt pr-2"></i> 聯絡電話 </label>
                    <div class="col-md-8">
                        <div class="form-check form-check-inline">
                            <input type="tel" class="form-control col-md-6" id="phone" name="phone" pattern="[0-9]{2} [0-9]{4} [0-9]{4}" size="40" >
                            <small class="col-md-4 text-muted" >ex: 02 1234 5678</small>
                        </div>
                    </div>
                </div>
                <div class="row mb-1 g-2">
                    <label for="location" class="col-md-3 col-form-label" > <i class="fas fa-map-marker-alt pr-2"></i> 地址 
                        <small class="text-muted"> *required </small>
                    </label>
                    <div class="col-md-8">
                        <div class="form-check form-check-inline">
                            <input type="text" class="form-control" id="location" name="location" maxlength="40" size="50" required>
                        </div>
                    </div>
                </div>
                <div class="row mb-1 g-2">
                    <label for="rating" class="col-md-3 col-form-label" ><i class="fas fa-star pr-2"></i> 評分 </label>
                    <div class="col-md-8">
                        <div class="form-check form-check-inline">      
                            <input type="range" class="form-control" id="rating" name="rating" min="0" max="5" step="0.1" value="5" oninput="score.value=this.value" required>
                            <output id="score" name="score" for="rating" class="ml-2"> 5 </output>
                        </div>
                    </div>
                </div>
                <div class="row mb-1 g-2">
                    <label for="description" class="col-md-3 col-form-label"><i class="fas fa-file-alt pr-2"></i> 餐廳介紹 </label>
                    <div class="col-md-8">
                        <div class="form-check form-check-inline">      
                           <textarea name="description" id="description" cols="50" rows="10"></textarea>
                        </div>
                    </div>
                </div>
                {{!-- 上傳餐廳照片 --}}
                <div class="row mb-1 g-2">
                    <label for="image" class="col-md-3 col-form-label mt-3"><i class="fas fa-camera-retro pr-2"></i> 餐廳影像 </label>
                    <div class="col-md-8">
                        <dir class="form-check form-check-inline">
                            {{!-- <img class="" name="image" id="image" src="https://cdn-icons-png.flaticon.com/512/1046/1046798.png" alt=""> --}}
                            <input type="text" name="image" id="image" size="50" class="form-control" value="https://media.istockphoto.com/photos/indian-food-flatlay-picture-id1363049240">
                        </dir>
                    </div>
                </div>

                <button type="submit" class="my-3" id="submit-btn">儲存</button>
            </form>
        </div>    
        </div>
        <div class="d-flex flex-row-reverse mt-3 mb-5">
            <a href="/restaurants/">返回首頁</a>
        </div>
    </div>
</div>

